* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  display: grid;
  place-items: center;
  padding: 30px;
}

h3 {
  padding-bottom: 10px;
}

h4 {
  padding-top: 10px;
}

body {
  background-color: wheat;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  position: relative;
  color: #555;
  display: grid;
  place-items: center;
}

#results20 {
  color: blue;
}

#results18 {
  color: green;
}

#results15 {
  color: rebeccapurple;
}
